@import 'components/temperature';
@import 'components/weather-icon';
@import 'weather/weather';

$text-color: #777;
$widget-border-color: #ccc;
$widget-shadow-color: #ddd;

#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

#content {
  height: 100%;
  margin: 0;
  padding: 0;
}

#app-content {
  height: calc(100% - 3em);
  margin: 0;
  padding: 0;
}

#widget {
  height: 12em;
  left: 0;
  margin: 0;
  padding: 1em;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);

  @media screen and (min-width: 32em) {
    border: 2px solid $widget-border-color;
    box-shadow: 2px 2px 2px $widget-shadow-color;
    margin: 0 auto;
    width: 30em;
  }
}

footer {
  border-top: 1px solid red;
  display: none;
  height: 3em;
  margin: 0;
  padding: 1em;

  span {
    padding-left: 0.5em;
  }
}

.location {
  color: $text-color;
  font-size: 150%;
}

.condition {
  color: $text-color;
  font-size: 125%;
  padding: 0;
  margin: 0 0 1em 0;
}
