/*
  Displays temperature value.
 */
.temperature {
  border: 1px solid red;
  display: inline-block;
  font-size: 350%;
  padding: 0.25em;
  vertical-align: top;

  sup {
    font-size: 33%;
  }
}

/*
  Toggles between Fahrenheit and Celsius.
 */
.temperature-uom {
  color: blue;
  cursor: pointer;
}
