$weather-icon-size: 5.5em;

.weather-icon-container {
  display: inline-block;
  height: $weather-icon-size;
  padding: 0;
  margin: 0;
  position: relative;
  width: $weather-icon-size;
  vertical-align: top;
}

.weather-icon-sun {
  height: $weather-icon-size;
  left: 0;
  position: absolute;
  top: 0;
  width: $weather-icon-size;
}

.weather-icon-cloud {
  height: $weather-icon-size;
  left: 0;
  position: absolute;
  top: 0;
  width: $weather-icon-size;
}

.weather-icon-bolt-container {
  height: $weather-icon-size;
  left: 50%;
  position: absolute;
  top: 70%;
  transform: translate(-1em, 0);
  width: $weather-icon-size;
}

.weather-icon-particles {
  height: $weather-icon-size;
  left: 0;
  position: absolute;
  top: 50%;
  width: $weather-icon-size;
}
