@import 'common';
@import 'particle';

$rain-fall-animation-duration: 1s;
$rain-color: blue;

.rain {
  color: $rain-color;
}

.rain-fall {
  @include ParticleFallAnimation($rain-fall-animation-duration);
}
