@import 'common';
@import 'particle';

$snow-fall-animation-duration: 2s;
$snow-rotation-animation-duration: 5s;
$snow-color: #d2dff4;

.snow {
  animation-duration: $snow-rotation-animation-duration;
  animation-iteration-count: infinite;
  animation-name: rotate-animation;
  animation-timing-function: linear;
  color: $snow-color;
}

.snow-fall {
  @include ParticleFallAnimation($snow-fall-animation-duration);
}
