@import 'common';

$sun-animation-duration: 10s;
$sun-color: #ffbe0b;

.sun {
  animation-duration: $sun-animation-duration;
  animation-iteration-count: infinite;
  animation-name: rotate-animation;
  animation-timing-function: linear;
  color: $sun-color;
}
